<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
        <link rel="stylesheet" href="css/prueba.css">
    </head>
    <body>
        <head>About Page</head>
        <nav>
            <ul>
                <li><a href="">Algo Uno</a></li>
                <li><a href="">Algo Dos</a></li>
                <li><a href="Algo Tres">Algo Tres</a></li>
                <li><a href="">Algo Cuatro</a></li>
            </ul>
        </nav>
        <section>
            <div class="caja">
                <div class="cajita"></div>
                <h2>Lorem ipsum dolor sit amet.</h2>
            </div>
            <div class="caja">
                <div class="cajita"></div>
                <h2>Lorem ipsum dolor sit amet.</h2>
            </div>
            <div class="caja">
                <div class="cajita"></div>
                <h2>Lorem ipsum dolor sit amet.</h2>
            </div>
        </section>
    </body>
</html>
